# Local secrets env file (loaded by Justfile for all targets)
.env
.gaebigicommands

# OpenTofu
infra/terraform.tfstate
infra/terraform.tfstate.backup
infra/.terraform/
infra/terraform.tfvars

# Ansible
config/vault-password
config/venv/

# Packer
images/**/downloaded_iso_path/

# macOS
.DS_Store
